/* Styles for the features.html page */

html {
    background-color: #3C3C3B;
}

.feature-container {
    padding: 50px;
    width: 100%;
    margin: 5px;
}

.feature-container + .feature-container {
    margin-left: 0px;
}

button.accordion {
    /* background-color: #eee;
    color: #444; */
    background-color: #3C3C3B;
    color: #EBEBD3;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    /* background-color: #ddd; */
    background-color: #EBEBD3;
    color: #3C3C3B;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.accordion-panel {
    background-color: #3C3C3B;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

