/* Styles for the gradients in the feature icon divs */

/* Feel */
#feature-icon--danceability {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #18537B, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#feature-icon--energy {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C02425, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C02425, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#feature-icon--valence {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* Sound */
#feature-icon--loudness {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--speechness {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65c00, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65c00, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--liveness {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--acousticness {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3CA55C, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3CA55C, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--instrumentalness {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Specs */
#feature-icon--tempo {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--key {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--duration {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--time-signature {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#feature-icon--mode {
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #135058, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #135058, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}