<!DOCTYPE html>
<html>
    <head>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Custom Styles -->
        <link rel="stylesheet" type="text/css" href="../static/css/features.css"/>

        <!-- Custom JS -->
        <script src="../static/js/features.js"></script>
    </head>
    <body>

        <!-- Accordion Menu -->
        <button class="accordion">Feel</button>
        <div class="accordion-panel">
          <div class="feature-container" id="feature-icon--valence">
            <img src="../static/icons/svg/003-theater.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--danceability">
            <img src="../static/icons/svg/011-breakdancing-dancer.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--energy">
            <img src="../static/icons/svg/012-technology.svg"/>
          </div>
        </div>
        
        <button class="accordion">Sound</button>
        <div class="accordion-panel">
          <div class="feature-container" id="feature-icon--loudness">
            <img src="../static/icons/svg/007-megaphone.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--speechness">
            <img src="../static/icons/svg/001-chat.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--liveness">
            <img src="../static/icons/svg/006-hand.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--acousticness">
            <img src="../static/icons/svg/010-guitar.svg"/>              
          </div>
          <div class="feature-container" id="feature-icon--instrumentalness">
            <img src="../static/icons/svg/004-piano.svg"/>
          </div>
        </div>
        
        <button class="accordion">Specs</button>
        <div class="accordion-panel">
          <div class="feature-container" id="feature-icon--tempo">
            <img src="../static/icons/svg/009-metronome.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--key">
            <img src="../static/icons/svg/004-piano.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--duration">
            <img src="../static/icons/svg/005-hourglass.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--time-signature">
            <img src="../static/icons/svg/009-metronome.svg"/>
          </div>
          <div class="feature-container" id="feature-icon--mode">
            <img src="../static/icons/svg/004-piano.svg"/>
          </div>
        </div>

    </body>
</html>